@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");


:root {
  --side-bar-bg-color: #191919;
  --card-bg-color: #1B1B1B;
  --card-bg-secondary-color: #252525;
  --card-bg-hover-color: #252628;
  --card-border-color: rgba(155, 155, 155, 0.3);
  --card-border-hover-color: rgb(246, 232, 232);
  --card-shadow: 3px 3px 12px rgba(0, 0, 0, 0.8);
  --border-color: whitesmoke;
  --border-focus-color: rgba(255, 255, 255);
  --border-secondary-color: rgba(122, 122, 122, 1);
  --text-secondary-color: rgba(155, 155, 155);
  --text-secondary-low-color: rgba(120, 120, 120);
  --text-primary-color: whitesmoke;
  --danger-primary-color: rgba(255, 0, 0);
  --danger-secondary-color: rgba(200, 0, 0);
  --danger-secondary-low-color: rgba(255, 0, 0, 0.4);
  --success-primary-color: rgba(0, 255, 0);
  --success-secondary-color: rgba(0, 200, 0);
  --success-bg-color: rgba(0, 155, 0);
  --success-bg-light-color: rgba(0, 255, 0, 0.5);
  --toast-background-color: #1B1B1B;
  --background-color: #0A0A0A;
  --pretext-bg-color: #0C0C0C;
  --dropdown-bg-color: rgba(80, 80, 80);
  --input-focus-border: rgba(255, 255, 255);
}

.gradientBackground {
  background: var(--background-color);
}

.customShadowInset {
  box-shadow:
    inset 0px 30px 60px -12px rgba(50, 50, 93, 0.25),
    inset 0px 18px 36px -18px rgba(0, 0, 0, 0.3),
    inset 0px -18px 36px -18px rgba(0, 0, 0, 0.3);
}

html {
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  color: whitesmoke;
  word-break: break-all;
  background-size: cover;
  background-position: center;
  background: var(--background-color);
  position: relative;
  background-size: 200% 200%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.pageLoader {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  border-radius: 8px;
  width: 0px;
  height: 2px;
  animation: pageLoaderAnime 1.5s infinite forwards;
  transition: all 0.5s;
}
@keyframes pageLoaderAnime {
  0% {
    width: 0px;
    transform: translateX(-100px);
  }
  10% {
    width: 100px;
    transform: translateX(0px);
  }
  100% {
    width: 100px;
    transform: translateX(700px);
  }
}
